footer {
    width: 100%;
    height: 222px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.webpage-name {
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.webpage-name p {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 22px;
    line-height: 28px;

    color: var(--purple-light);
}

.webpage-name p::before {
    content: 'Naped';
}

.legal-rights {
    display: flex;

    margin: 16px 24px 0 24px;
}

.legal-rights p {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: var(--white-200);
}

.legal-rights p::before {
    content: 'Todas as imagens de filmes, séries e etc são marcas registradas'
    ' dos seus respectivos proprietários.';
}

@media screen and (min-width: 768px) {
    footer {
        width: 100%;
        height: 222px;
    }
    
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .webpage-name {
        display: flex;
        justify-content: center;
    
        margin-top: 40px;
    }
    
    .webpage-name p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 22px;
        line-height: 28px;
    
        color: var(--purple-light);
    }
    
    .webpage-name p::before {
        content: 'Naped';
    }
    
    .legal-rights {
        display: flex;
    
        margin: 16px 11.11% 0 11.11%;
    }
    
    .legal-rights p {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    
        color: var(--white-200);
    }
    
    .legal-rights p::before {
        content: 'Todas as imagens de filmes, séries e etc são marcas registradas'
        ' dos seus respectivos proprietários.';
    }
}

@media screen and (min-width: 1024px) {
    footer {
        width: 100%;
        height: 229px;
    }
    
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .webpage-name {
        display: flex;
        justify-content: center;
    
        margin-top: 95px;
    }
    
    .webpage-name p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 24px;
        line-height: 30px;
    
        color: var(--purple-light);
    }
    
    .webpage-name p::before {
        content: 'Naped';
    }
    
    .legal-rights {
        display: flex;
    
        width: 100%;
        margin: 16px 0 0 25%;

    }
    
    .legal-rights p {
        max-width: 500px;

        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    
        color: var(--white-200);
    }
    
    .legal-rights p::before {
        content: 'Todas as imagens de filmes, séries e etc são marcas registradas'
        ' dos seus respectivos proprietários.';
    }
}

@media screen and (min-width: 1440px) {
    footer {
        width: 100%;
        height: 229px;
    }
    
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .webpage-name {
        display: flex;
        justify-content: center;
    
        margin-top: 95px;
    }
    
    .webpage-name p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 24px;
        line-height: 30px;
    
        color: var(--purple-light);
    }
    
    .webpage-name p::before {
        content: 'Naped';
    }
    
    .legal-rights {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: 16px 0 0 0;
    }
    
    .legal-rights p {
        max-width: 500px;

        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    
        color: var(--white-200);
    }
    
    .legal-rights p::before {
        content: 'Todas as imagens de filmes, séries e etc são marcas registradas'
        ' dos seus respectivos proprietários.';
    }
}