header {
    width: 100%;
    height: 270px;
}

.header-wrapper {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 116px;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.nav-title {
    margin-top: 24px;
    margin-left: 24px;
}

.nav-title p {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 22px;
    line-height: 28px;

    color: var(--purple-light);
}

.nav-title p::before {
    content: 'Naped';
}

.nav-options {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;

    width: 24px;
    height: 24px;

    margin-top: 26px;
    margin-left: 212px;
}

#option-1 {
    width: 18px;
    height: 0;

    margin-top: 6px;
    border: 1px solid var(--white);
}

#option-2 {
    width: 14px;
    height: 0;

    border: 1px solid var(--white);
}

#option-3 {
    width: 18px;
    height: 0;

    border: 1px solid var(--white);
}

#option-4 {
    width: 14px;
    height: 0;

    border: 1px solid var(--white);
}

#option-1 a {
    text-decoration: none;
}

.nav-menu .option-1 .option-line {

}

.nav-login {
    display: flex;

    width: 312px;
    height: 34px;

    border: 1px solid var(--purple-light);
    border-radius: 30px;

    margin-top: 30px;
    margin-left: 24px;
}

.nav-login p {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 14px;
    line-height: 18px;

    padding: 8px 0px 8px 113.5px;
    color: var(--white-100);
}

.nav-login p::before {
    content: 'Minha conta';
}

.header-section {
    width: 100%;
    height: 106px;

    margin-top: 48px;
}

.header-section-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.header-section-title {
    display: flex;
    width: 100%-24px;

    margin-left: 24px;
}

.header-section-title p {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 24px;
    line-height: 30px;

    color: var(--white-100);
}

.header-section-title p::before {
    content: 'Mundo nerd? Naped!';
}

.header-section-text {
    display: flex;
    width: 100%-24px;

    margin-top: 16px;
    margin-left: 24px;
}

.header-section-text p {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 14px;
    line-height: 20px;

    color: var(--white-200);
}

.header-section-text p::before {
    content: 'O Naped pode ser sua fonte de informações sobre o mundo nerd'
    ' e outros assuntos relacionados.';
}

@media screen and (min-width: 768px) {
    header {
        width: 100%;
        height: 270px;
    }
    
    .header-wrapper {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        height: 55px;
    }
    
    .nav-wrapper {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;
    }
    
    .nav-title {
        margin-top: 24px;
        margin-left: 85px;
    }
    
    .nav-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 22px;
        line-height: 28px;
    
        color: var(--purple-light);
    }
    
    .nav-title p::before {
        content: 'Naped';
    }
    
    .nav-options {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 32px;

        width: auto;
    
        margin-top: 22px;
        margin-left: 8%;
    }

    .option {
        display: flex;
    }

    .option a {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;


        color: var(--white-100);
    }
    
    #option-1 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-2 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-3 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-4 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-5 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-1 a::before {
        content: 'Home';
    }

    #option-2 a::before {
        content: 'Séries';
    }

    #option-3 a::before {
        content: 'Filmes';
    }

    #option-4 a::before {
        content: 'Animes';
    }

    #option-5 a::before {
        content: 'Games';
    }
    
    .nav-menu .option-1 .option-line {
    
    }
    
    .nav-login {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 125px;
        height: 20px;
    
        border: 1px solid var(--purple-light);
        border-radius: 30px;
    
        margin: 28px 11.11% 0 0px;
    }
    
    .nav-login p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 12px;
        line-height: 16px;
    
        padding: 0;
        color: var(--white-100);
    }
    
    .nav-login p::before {
        content: 'Minha conta';
    }
    
    .header-section {
        width: 100%;
        height: 195px;
    
        margin-top: 48px;
    }
    
    .header-section-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .header-section-title {
        display: flex;

        width: 30%;
    
        margin: 16px 67.84% 0 11.11%;
    }
    
    .header-section-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 30px;
        line-height: 36px;
    
        color: var(--white-100);
    }
    
    .header-section-title p::before {
        content: 'Mundo nerd? Naped!';
    }
    
    .header-section-text {
        display: flex;
        width: 60%;
    
        margin: 16px 54.72% 0 11.11%;
    }
    
    .header-section-text p {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 22px;
    
        color: var(--white-200);
    }
    
    .header-section-text p::before {
        content: 'O Naped pode ser sua fonte de informações sobre o mundo nerd'
        ' e outros assuntos relacionados.';
    }
}

@media screen and (min-width: 1024px) {
    header {
        width: 100%;
        height: 365px;
    }
    
    .header-wrapper {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        height: 56px;
    }
    
    .nav-wrapper {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;
    }
    
    .nav-title {
        margin-top: 26px;
        margin-left: 11.11%;
    }
    
    .nav-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 24px;
        line-height: 30px;
    
        color: var(--purple-light);
    }
    
    .nav-title p::before {
        content: 'Naped';
    }
    
    .nav-options {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 40px;

        width: auto;
    
        margin-top: 28px;
        margin-left: 20%;
    }

    .option {
        display: flex;
    }

    .option a {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;


        color: var(--white-100);
    }
    
    #option-1 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-2 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-3 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-4 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-5 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-1 a::before {
        content: 'Home';
    }

    #option-2 a::before {
        content: 'Séries';
    }

    #option-3 a::before {
        content: 'Filmes';
    }

    #option-4 a::before {
        content: 'Animes';
    }

    #option-5 a::before {
        content: 'Games';
    }
    
    .nav-menu .option-1 .option-line {
    
    }
    
    .nav-login {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 125px;
        height: 28px;
    
        border: 1px solid var(--purple-light);
        border-radius: 30px;
    
        margin: 28px 11.11% 0 0px;
    }
    
    .nav-login p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 12px;
        line-height: 16px;
    
        padding: 0;
        color: var(--white-100);
    }
    
    .nav-login p::before {
        content: 'Minha conta';
    }
    
    .header-section {
        width: 100%;
        height: 309px;
    
        margin-top: 114px;
    }
    
    .header-section-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .header-section-title {
        display: flex;

        width: 30%;
    
        margin: 0 67.84% 0 11.11%;
    }
    
    .header-section-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 40px;
        line-height: 50px;
    
        color: var(--white-100);
    }
    
    .header-section-title p::before {
        content: 'Mundo nerd? Naped!';
    }
    
    .header-section-text {
        display: flex;
        width: 60%;
    
        margin: 11px 54.72% 0 11.11%;
    }
    
    .header-section-text p {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 18px;
        line-height: 28px;
    
        color: var(--white-200);
    }
    
    .header-section-text p::before {
        content: 'O Naped pode ser sua fonte de informações sobre o mundo nerd'
        ' e outros assuntos relacionados.';
    }
}

@media screen and (min-width: 1024px) {
    header {
        width: 100%;
        height: 365px;
    }
    
    .header-wrapper {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        height: 56px;
    }
    
    .nav-wrapper {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        height: 100%;

        margin-top: 26px;
        margin-left: 11.11%;
    }
    
    .nav-title {
        margin-top: 0;
        margin-left: 0;
    }
    
    .nav-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 24px;
        line-height: 30px;
    
        color: var(--purple-light);
    }
    
    .nav-title p::before {
        content: 'Naped';
    }
    
    .nav-options {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 60px;

        width: auto;
    
        margin-top: 2px;
        margin-left: 25%;
    }

    .option {
        display: flex;
    }

    .option a {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;


        color: var(--white-100);
    }
    
    #option-1 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-2 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-3 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-4 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-5 {
        width: auto;
        height: auto;
    
        margin-top: 0;
        border: none;
    }

    #option-1 a::before {
        content: 'Home';
    }

    #option-2 a::before {
        content: 'Séries';
    }

    #option-3 a::before {
        content: 'Filmes';
    }

    #option-4 a::before {
        content: 'Animes';
    }

    #option-5 a::before {
        content: 'Games';
    }
    
    .nav-menu .option-1 .option-line {
    
    }
    
    .nav-login {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 125px;
        height: 28px;
    
        border: 1px solid var(--purple-light);
        border-radius: 30px;
    
        margin: 28px 11.11% 0 0px;
    }
    
    .nav-login p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 13px;
        line-height: 17px;
    
        padding: 0;
        color: var(--white-100);
    }
    
    .nav-login p::before {
        content: 'Minha conta';
    }
    
    .header-section {
        width: 100%;
        height: 309px;
    
        margin-top: 114px;
    }
    
    .header-section-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .header-section-title {
        display: flex;

        width: 100%;
    
        margin: 0 0 0 11.11%;
    }
    
    .header-section-title p {
        max-width: 30%;
        
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 48px;
        line-height: 60px;
    
        color: var(--white-100);
    }
    
    .header-section-title p::before {
        content: 'Mundo nerd? Naped!';
    }
    
    .header-section-text {
        display: flex;
        width: 100%;
    
        margin: 11px 0 0 11.11%;
    }
    
    .header-section-text p {
        max-width: 34%;

        font-family: 'Inter-Medium', sans-serif;
        font-size: 20px;
        line-height: 32px;
    
        color: var(--white-200);
    }
    
    .header-section-text p::before {
        content: 'O Naped pode ser sua fonte de informações sobre o mundo nerd'
        ' e outros assuntos relacionados.';
    }
}