section {
    width: 100%;
    height: 287px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.section-title {
    display: flex;

    width: 100%-48px;

    margin: 48px 24px 0 24px;
}

.section-title p {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 24px;
    line-height: 30px;

    color: var(--white-100);
}

.section-title p::before {
    content: 'Lorem ipsum dolor sir amet, consectetur adipiscing elit.'
    ' Cras mattis neque sed odio.';
}

.section-text {
    display: flex;

    width: 100%-48px;

    margin: 16px 24px 0 24px;
}

.section-text p {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: var(--white-200);
}

.section-text p::before {
    content: 'O Naped pode ser sua fonte de informações sobre o'
    ' mundo nerd e outros assuntos relacionados.';
}

.section-date {
    display: flex;

    width: 100%-24px;

    margin: 16px 0 0 24px;
}

.section-date p {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 12px;
    line-height: 15px;

    color: var(--white-200);
}

.section-date p::before {
    content: '30 de Novembro de 2022';
}

@media screen and (min-width: 768px) {
    section {
        width: 100%;
        height: 200px;
    }
    
    .section-wrapper {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .section-title {
        display: flex;
    
        width: 100%-22.22%;
    
        margin: 0 11.11% 0 11.11%;
    }
    
    .section-title p {
        font-family: 'LexendDeca-Regular', sans-serif;
        font-size: 24px;
        line-height: 30px;
    
        color: var(--white-100);
    }
    
    .section-title p::before {
        content: 'Lorem ipsum dolor sir amet, consectetur adipiscing elit.'
        ' Cras mattis neque sed odio.';
    }
    
    .section-text {
        display: flex;
    
        width: 100%-22.22%;
    
        margin: 16px 11.11% 0 11.11%;
    }
    
    .section-text p {
        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 24px;
    
        color: var(--white-200);
    }
    
    .section-text p::before {
        content: 'O Naped pode ser sua fonte de informações sobre o'
        ' mundo nerd e outros assuntos relacionados.';
    }
    
    .section-date {
        display: flex;
    
        width: 100%-11.11%;
    
        margin: 16px 0 0 11.11%;
    }
    
    .section-date p {
        font-family: 'Inter-Regular', sans-serif;
        font-size: 12px;
        line-height: 15px;
    
        color: var(--white-200);
    }
    
    .section-date p::before {
        content: '30 de Novembro de 2022';
    }
}